.area_direita {
  background: transparent linear-gradient(353deg, #45108A 0%, #45108A 13%, #3D065F 62%, #12054E 96%, #10054D 100%) 0% 0% no-repeat padding-box;
  width: 521px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;    
  height: 100vh !important;  
}
.area_esquerda1 {
  width: 121px !important;    
  height: 140px !important;
  top: 0px !important;
  margin-left: 0px !important;  
}
.area_navegacao1 {
  width: 108vw !important;       
  position: absolute !important;    
  margin-bottom: 10px !important;  
  overflow: hidden;
}

.data_modal_empresa {
  width: 220px !important;   
  padding: 0px !important;
  border: 0px !important;
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}

.area_evento_valor {
  font-family: Effra !important;
  font-size: 16px !important;
  font-weight: bold !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  width: 120px !important;
}

.area_ganhos_oser {
  font-family: Effra !important;
  font-size: 16px !important;
  font-weight: bold !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  width: 190px !important;
}

.area_evento_empresa {
  width: 46px !important;
  height: 35px !important;
  font-family: Effra !important;  
  font-weight: normal !important;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
  margin-left: 10px !important;
}

.area_evento_2_empresa {
  margin-left: 60px !important;
  width: 60px !important;
  height: 35px !important;  
  font-family: Effra !important;
  font-size: 14px !important;
  font-weight: normal !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
}

.area_evento_3_empresa {
  margin-left: 60px !important;
  width: 56px !important;
  height: 35px !important;
  font-family: Effra !important;  
  font-weight: normal !important;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
}

.titulo_area_descricao_empresarial {
  margin-top: 5px !important;
  margin-left: 40px !important;
  letter-spacing: 0px !important;
}

.espacamento_caixa_texto { 
  margin-top: 15px !important;
  margin-left: 108px !important
}

.espacamento_caixa_texto_ajuste { 
  margin-top: 15px !important;
  margin-left: 118px !important
}     



.titulo_logo {
  margin-top: 213px !important;
  margin-left: 166px !important;
  width: 190px !important;
  line-height: 52px !important;    
}

.imagem {
  margin-top: 0px !important;
  width: 24px !important;
  line-height: 24px !important;
}

.select_modal_status_empresa {
  width: 250px !important;     
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;   
}

.label_empresa_status_modal {  
  width: 230px !important;   
  text-align: left !important;
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
  padding-left: 20px !important;
}

.buscar_label_empresa_modal { 
  padding-left: 25px !important;   
  text-align: left !important;
  font: normal normal medium 10px Effra !important;
  letter-spacing: 0px !important;
  color: #868686 !important;
  opacity: 1 !important;   
}  

.titulo_representante_empresa {   
  font: normal normal normal Effra !important; 
  text-align: left !important;  
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  margin-top: 64px !important;  
/*  line-height: 54px !important;   */
  width: 480px !important;
  font-size: 44px !important;   
}  

.espacamento_caixa_texto { 
  margin-top: 15px !important;
  margin-left: 108px !important;
}  

.espacamento_caixa_texto_senha { 
  margin-top: 80px !important;
  margin-left: 108px !important;
}  

.progressbar { 
  line-height: 6px !important;  
  width: 480px !important;  
  margin-left: 108px !important;
}

.cep_alterar_text{
  width: 240px !important;     
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}
.label_cep_alterar_text{
  width: 240px !important;     
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important; 
}

.naoseiocep_alterar{
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}
.mostrar_endereco_alterar{
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}
.numero_alterar{
  width: 200px !important;     
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}
.label_numero_alterar{
  width: 240px !important;     
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important; 
}

.lable_complemento_alterar{
  width: 240px !important;     
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  margin-left: 0px;
  color: #707070 !important;
  opacity: 1 !important; 
}

.complemento_alterar{
  width: 480px !important;     
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important; 
  color: #0F074E !important;
  opacity: 1 !important; 
}

.input_text { 
  line-height: 56px !important;  
  width: 480px !important;  
}

.titulo_area_empresarial {
  margin-top: 0px !important;
  line-height: 30px !important;
}

.input_numero { 
  line-height: 56px !important;  
  width: 160px !important;  
}

.input_empresa_estado { 
  line-height: 56px !important;  
  width: 296px !important;  
}

.input_bairro { 
  line-height: 56px !important;  
  width: 160px !important;  
}

.label_complemento{
  margin-left: 24px !important;
}

.input_text_empresa_date {
  line-height: 26px !important;  
  width: 480px !important;   
}

.input_complemento { 
  line-height: 56px !important;  
  width: 296px !important;   
  margin-left: 24px !important;
}

.input_cidade { 
  line-height: 56px !important;  
  width: 296px !important;  
  margin-left: 24px !important;
}

.label_cidade{
  margin-left: 24px !important;
}

.espacamento_seta {
  margin-top: 30px !important;
  margin-right: 40px !important;  
}

.botao_cadastro_empresa {
  margin-top: 160px !important; 
  width: 510px !important;
  line-height: 40px !important;  
  background: #C9C9C9 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}
.botao_cadastro_empresa_habilitado {
  margin-top: 20px !important; 
  width: 510px !important;
  line-height: 40px !important;  
  background: #FF840A 0% 0% no-repeat padding-box !important; 
  opacity: 1 !important;
  margin-left: 108px !important;
}

.naoseiocep{
  margin-left: 10px !important;  
}
.alink {
  color: blue !important;
  text-decoration: blue !important;
}

.botao_cadastro_dados {
  margin-top: 8px !important; 
  width: 480px !important;
  line-height: 0px !important;  
  background: #C9C9C9 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}

.botao_cadastro_dados_habilitado2 {
  margin-top: 220px !important; 
  width: 480px !important;
  line-height: 40px !important;  
  background: #FF840A 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}

.botao_cadastro_endereco {
  margin-top: 28px  !important; 
  width: 480px  !important;
  line-height: 80px  !important;  
  background: #C9C9C9 0% 0% no-repeat padding-box  !important; 
  opacity: 1  !important;
  margin-left: 108px  !important;
}
.botao_cadastro_endereco_habilitado {
  margin-top: 28px  !important; 
  width: 480px  !important;
  line-height: 80px  !important;  
  background: #FF840A 0% 0% no-repeat padding-box  !important; 
  opacity: 1  !important;
  margin-left: 108px  !important;
}


.botao_cadastro_senha {
  margin-top: 100px !important; 
  width: 480px !important;
  line-height: 80px !important;  
  background: #C9C9C9 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}

.botao_cadastro_senha_habilitado {
  margin-top: 100px !important; 
  width: 480px !important;
  line-height: 80px !important;  
  background: #FF840A 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}

.botao_cadastro_senha_empresa {
  margin-top: 130px !important; 
  width: 480px !important;
  line-height: 40px !important;  
  background: #C9C9C9 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}

.botao_cadastro_senha_empresa_habilitado {
  margin-top: 130px !important; 
  width: 480px !important;
  line-height: 40px !important;  
  background: #FF840A 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
  margin-left: 108px !important;
}

.progress_linear {
  height: 10px !important;
  border-radius: 5px !important;
  background-color: #FF840A !important;
}

.botao_navegacao {
  margin-top: 37px !important;  
  width: 108px !important;
  line-height: 114px !important;  
}

.endereco_cep {
  width: 468px !important;
  line-height: 100px !important;  
}
.botao_close {
  margin-top: 4px !important;      
  width: 24px !important;
  line-height: 50px !important;  
}
.fonte-endereco {
  font: Bold var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-effra) !important;   
  text-align: left !important;
  font: Bold 16px/19px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
}
.alerta_senha {    
  text-align: left !important;
  font: Bold 12px Effra !important;
  letter-spacing: 0px !important;
  color: #707070 !important; 
}
.alerta_senha_confirmado {    
  text-align: left !important;
  font: Bold 12px Effra !important;
  letter-spacing: 0px !important;
  color: green !important;
}
.titulo_endereco {
  font: Regular var(--unnamed-font-size-12)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-effra) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-707070) !important;
  text-align: left !important; 
  font: Regular 12px/19px Effra !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
}
.texto_endereco {
  text-align: left !important;
  letter-spacing: NaNpx !important;
  opacity: 1 !important;
}

.mensagem_erro{
  width: 480px !important;
}

.ajuste_height {
  width: 100vw !important;
 /* height: 85vh !important;
  max-height: 200px !important; */
  position: fixed !important;  
 
}

