.inicio_cliente {
  width: 320px  !important;  
  height: 129px !important;  

  text-align: left !important;  
  font-size: 22px !important;  
  color: #0F074E;
  left: 200px !important;

  font-family: Effra !important;   
}

a:hover {
  color: #0F074E !important;
  /*text-decoration: underline; */
} 

a {
  color: #0F074E !important;  
  text-decoration: none !important;
}  
.espacamento_logo {
  height: 89px !important;  
}

.logo_inicio {
  color: #0F074E !important; 
}

.texto_logo {
  font-family: Effra !important; 
  color: #0F0B2F;
  font-size: 12px !important;     
  opacity: 1;
}

.logo {
  font-family: Effra !important;     
  color: white;  
  opacity: 1;
}

.espacamento_seta {
  margin-left: 48px;
}

.espacamento_seta_2  {
  margin-left: 35px;
}

