html, body {
  margin: 0px;  
  font: normal normal medium 22px Effra !important;   
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  overflow-x: hidden;  
 /* overflow-y: hidden;  */
  height: 99vh; 
  width: 100vw;
}

code {
  font-family: Effra !important; 
}

.MuiDialog-paper {
  padding: 15px;
}

button.MuiButton-containedSecondary {
  margin-bottom: 10px;
}