    .left,
    .right {
        top: 30%;
        float: left;       
    }   

    .left {
        background: transparent linear-gradient(353deg, #45108A 0%, #45108A 13%, #3D065F 62%, #12054E 96%, #10054D 100%) 0% 0% no-repeat padding-box;
        width: 80px;     
        height: 99vh;       
        top: 0px !important;
        left: 0px !important;
        z-index: 1 !important;
        overflow-x: hidden !important;
    }    

    .right {
      /*  background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px; */
    }

    @media screen and (max-height: 450px) {
      .left {
        padding-top: 0px;        
      }
      .item {
        height: 45px;
        overflow: hidden;
        color: #fff;
        margin-left: 0px;   
        border-bottom: 1px solid #707070;        
    }

      .left a {font-size: 18px;}
    } 

    @media screen and (min-width: 500px) {
      .left {
         padding-top: 0px;
       }
       .item {
          height: 55px;
          overflow: hidden;
          color: #fff;
          margin-left: 0px;   
          border-bottom: 1px solid #707070;        
    }
      .left a {
        font-size: 10px;
      }
    } 

    @media screen and (max-width: 500px) {
      .left {
         padding-top: 0px;
       }
       .item {
          height: 25px;
          overflow: hidden;
          color: #fff;
          margin-left: 0px;   
          border-bottom: 1px solid #707070;                  
    }
      .left a {
        font-size: 5px;
      }
    } 

    .backgroud_gradiente {
      background: transparent linear-gradient(353deg, #45108A 0%, #45108A 13%, #3D065F 62%, #12054E 96%, #10054D 100%) 0% 0% no-repeat padding-box;
      width: 80px;     
      height: 100vh; 
    }
/*
    .left:hover {
        width: 250px;
    }

    .item:hover {
        background-color: #0099E0;        
        color: #fff;
    }
*/
    .left .fas {
        margin: 1px;
       /* width: 20px; */
        color: #fff;
    }

    i.fas {
        font-size: 17px;
        vertical-align: middle !important;        
        margin: 23px !important;
    }
    
    img {
      vertical-align: middle;
      border-style: none;
      margin-left: 15px !important;
    }

    .fa-sign-out-alt::before {
      content: "\f2f5";
      margin-left: -6px;
      padding-top: 5px;
    }    

  

    .item_sem_borda {
      height: 55px;
      overflow: hidden;
      color: #fff;
      margin-left: 0px;         
    }

    .logo_centralizado {
      margin-left: 10px !important;         
    }

    .item_cabecalho {
      height: 55px;
      overflow: hidden;
      color: #fff;
      margin-left: 0px;         
    }
    
    .teste a {
      color: #fff !important;        
    }    
    .imagem_oser{     
       margin-top: 220px !important;       
       margin-left: 0px !important;
    }
    .imagem_oser_inicio{     
      margin-top: 320px !important;                
   }
   .imagem_oser_adm{     
    margin-top: 80px !important;                
   }
   .imagem_oser_motorista{     
      margin-top: 20px !important;                
    }
    .imagem_oser_empresarial{     
      margin-top: 40px !important;                
    }
    .vertical-nav {
      /*min-width: 17rem;      
      width: 17rem;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s; */
    }
    .avatar {
      font-size: 10px !important;   
      left: 4px !important;
      margin-left: 8px;
    }  

    .tamanho_foto {
      width: 860px !important;
      height: 860px !important;
    }
    
    .avatar_motorista {      
      left: 0px !important;
      margin-left: 8px;
      display: flex;

    }  
    img {
      vertical-align: middle !important;
      border-style: none !important;
      margin-left: 0px !important;
    }
    .avatar_adm {
      font-size: 10px !important;   
      left: 4px !important;
      margin-left: 8px !important;      
    }   

    .MuiAvatar-root {
      width: 60px !important;
      height: 60px !important;
    }  
    .versao_sistema {      
      margin-top: 50%;
      font-size: 11px;
      left: 10px;
      color: #fff;

    }

.fundo_padrao {
    background: transparent linear-gradient(353deg, #45108A 0%, #45108A 13%, #3D065F 62%, #12054E 96%, #10054D 100%) 0% 0% no-repeat padding-box;

}    
   
.navbar {
  margin-bottom: 0;
  background-color: #0F074E !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important; 
  letter-spacing: 4px !important;
  border-radius: 0;  
  font-family: var(--unnamed-font-family-effra);
  height: 90PX;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #1b68b5 !important;
}  

.dropdown-menu {
  background-color: #0F074E !important;
  font-size: 12px !important;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;  
}

.navbar li a li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.nav-link.active {
  font-size: 19px !important;
}  
/*.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 0px solid #dee2e6; 
    border-radius: .2rem !important;
    max-width: 100%;
    height: auto;
}
*/

.thumbnail_logo img {
    width: 10%;
    height: 50%;  
    /* background-color: white; */
    overflow: hidden;
    border-radius: 10000px !important;   
  }
  
.img-sobre {
  background-color: white;
  overflow: hidden;
  border-radius: 10000px; 
  margin-right: 10px;  
}  
/* toggle */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #0F074E;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}



.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}
.MuiFormControl-marginNormal {
  margin-top: 1px !important;
  margin-bottom: 8px !important;
}


.MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-weight: normal !important;  
  font-size: 12px !important;
  font-family: Effra !important;
} 
 

.rodape {
  color: #fff !important;  
}

.select_cor {
  color: blue !important;  
}

.btn-danger:hover {
  color: #fff !important;  
  background-color: #0F074E !important;  
  border-color: #0F074E !important;  
}

.btn-danger {
  color: #fff !important;  
  background-color: #0F074E !important;  
  border-color: #0F074E !important;  
}

.menu_link {
  margin-right: 10px; 
}

.menu_link_outros{
  width: 300px !important;
  margin-right: 150px !important; 
  margin-left: 20px !important; 
}

.MuiBox-root-5 {
  color: rgb(255, 255, 255) !important;
  padding: 30px !important;
  background-color: rgba(0, 0, 0, 0.38) !important;
}


.MuiContainer-root {
  width: 100% !important;
  display: block !important;
  box-sizing: border-box !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important; 
}
.MuiContainer-maxWidthSm {
   max-width: 900px !important; 
}
/* MENUS */

:root {

  /* Colors: */
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-f3f3f3: #F3F3F3;
  --unnamed-color-0f074e: #0F074E;
  --unnamed-color-707070: #707070;
  --unnamed-color-ff840a: #FF840A;
  --unnamed-color-0f0b2f: #0F0B2F;
  --unnamed-color-0f93d9: #0F93D9;
  --unnamed-color-4f4f4f: #4F4F4F;
  
  /* Font/text values */
  --unnamed-font-family-effra: Effra;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-300: 300px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-10: 10px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-44: 44px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-10: 10px;
  --unnamed-line-spacing-14: 14px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-27: 27px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-52: 52px;
  --unnamed-decoration-underline: underline;
  }
  
  /* Character Styles */
  .unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0f074e);
  }
  .unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0f93d9);
  text-decoration: var(--unnamed-decoration-underline);
  }
  .unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-4f4f4f);
  }
  .unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-27);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0f074e);
  }
  .unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10);
  line-height: var(--unnamed-line-spacing-10);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  }
  .unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  }
  .título-branco {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-44);
  line-height: var(--unnamed-line-spacing-52);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0f074e);
  }
  .unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-44);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .unnamed-character-style-10 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0f074e);
  }
  .unnamed-character-style-11 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  }
  .unnamed-character-style-12 {
  font-family: var(--unnamed-font-family-effra);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  }

  .titulo_cliente_individual {
  top: 43px;
  left: 122px;
  width: 376px;
  height: 27px;   
  margin-left: 100px !important;  
  }

  .titulo_admministrador {       
    margin-left: 0px !important; 
    height: 90px !important; 
    padding-left: 80px;   
    /* width: 100% !important; */
    /* width: 220% !important; */
    /*border-bottom: 1px dotted #707070;      */    
   /*  border-bottom: 1px solid #dee2e6; */
  }

  .titulo_admministrador_editar {       
    margin-left: 0px !important; 
    height: 120px !important; 
    padding-left: 80px; 
    width: 100% !important;
    font: normal normal Effra !important;
    /* font-size: 22px;*/
    /*border-bottom: 1px dotted #707070;      */    
    border-bottom: 1px solid #dee2e6;
  }

  .titulo_admministrador_alteracao {       
    margin-left: 0px !important; 
    height: 120px !important; 
    width: 259% !important;
    /*border-bottom: 1px dotted #707070;      */    
    border-bottom: 1px solid #dee2e6;
  }

  .titulo_lista {       
    margin-left: 0px !important; 
    height: 120px !important; 
    padding-left: 80px; 
    width: 100% !important;
    font: normal normal Effra !important;
    /* font-size: 22px;*/
    /*border-bottom: 1px dotted #707070;      */    
    border-bottom: 1px solid #dee2e6;
  }

  .titulo_lista_auxiliares {
    margin-left: 0px !important; 
    height: 120px !important; 
    padding-left: 0px; 
    width: 100% !important;
    font: normal normal Effra !important;
  }

  .titulo_lista_servicos {       
    margin-left: 0px !important; 
    height: 120px !important; 
    padding-left: 30px; 
    width: 100% !important;
    font: normal normal Effra !important;
    /* font-size: 22px;*/
    /*border-bottom: 1px dotted #707070;      */    
    border-bottom: 1px solid #dee2e6;
  }

  .descricao_admministrador {         
    padding-top: 15px !important;  
    margin-left: 50px !important;       
    height: 52px !important;      
   /* font-size: 44px !important;   */
  }

  .descricao_admministrador_servico {            
    margin-left: 20px !important;       
    height: 52px !important;      
   /* font-size: 44px !important;   */
  }

  .descricao_alteracao {         
    padding-top: 50px !important;      
   /* font-size: 44px !important;   */
  }

  .area_neutra {
    width: 100% !important;      
  }

  .data_versao{
    padding-top: 5px;
  }

  .perfil{   
    margin-top: 8px !important; 
    margin-left: 15px !important; 
    text-decoration: var(--unnamed-decoration-underline);
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-10)/12px var(--unnamed-font-family-effra);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0f93d9);
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 10px/12px Effra;
    letter-spacing: 0px;
    color: #0F93D9;
    opacity: 1;
  }    
 
  .container_modal_alterado {
    width: 90% !important;
    margin-left: -104px !important;
    text-align: left !important;
    font: normal normal Effra !important;
    letter-spacing: 0px !important;
    color: #0F074E !important;
    opacity: 1 !important;
    font-size: 14px !important;    
    font-weight: bold !important;
   /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    max-width: 85%;    
    position: static;     */
  }

  .container_modal_alterado_cartao {
    width: 90% !important;
    margin-left: -104px !important;
    text-align: left !important;
    font: normal normal Effra !important;
    letter-spacing: 0px !important;
    color: #0F074E !important;
    opacity: 1 !important;
    font-size: 14px !important;    
    font-weight: bold !important;
    margin-left: -20px !important; 
   /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    max-width: 85%;    
    position: static;     */
  }

  .font_modal_padrao {
    font: normal normal normal Effra !important;
    color: #707070 !important;
    font-size: 14px !important;
  }

  .foto_avatar_motorista {
    text-align: left !important;
    font: normal normal bold 14px Effra !important;
    letter-spacing: 0px !important;
    color: #0F074E !important;
    opacity: 1 !important;   
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    height: 150px !important;  
    padding-left: 0px !important;
   
    border: 2px solid !important;
   
    border-radius: 75px !important;

  } 

  .foto_modal_motorista {
    text-align: left !important;
    font: normal normal bold 14px Effra !important;
    letter-spacing: 0px !important;
    color: #0F074E !important;
    opacity: 1 !important;   
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    height: 150px !important;  
    padding-left: 49px !important;
    margin-left: -261px !important;
  }
  .container_alterado {
    width: 100% !important;
    margin-left: -104px !important;
    text-align: left !important;
    font: normal normal bold Effra !important;
    letter-spacing: 0px !important;
    color: #0F074E !important;
    opacity: 1 !important;    
   /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    max-width: 85%;    
    position: static;     */
  }

  .container_matriz {
    width: 100% !important;
    margin-left: -104px !important;
    text-align: left !important;
    font: normal normal normal 14px Effra !important;
    letter-spacing: 0px !important;
    color: #0F074E !important;
    opacity: 1 !important;    
   /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    max-width: 85%;    
    position: static;     */
  }

  .container_alteracao {
    width: 100% !important;    
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;  
    margin-left: 0px !important;   
   /* max-width: 85%;     */
    position: static !important;     
  }

  .naoseiocep_modal{
    margin-left: 10px !important;  
    text-align: left !important;
    font: normal normal bold Effra !important;
    font-size: 12px;
    letter-spacing: 0px !important;
  }
  .naoseiocep{
    margin-left: 0px !important;  
    font-size: 12px !important;
  }

  .zoom {
    overflow: hidden; /* imagem nao sofrer no responsivo */
  }
  .zoom img {
   
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .zoom:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .container_alterado_1 {
    width: 100%;
    padding-right: 15px;    
    margin-right: auto;
    margin-left: auto; 
    max-width: 85%;        
    position: static;    
  }
  .classe_orange {
    background-color: orange;
  }
  
  .botao_veiculo_lista_incluir {          
    font: normal normal bold Effra !important;
    color: #0F074E !important;
    font-size: 12px;
    position: absolute;
    left: 80% !important; 
    top: 28% !important;  
    line-height: 10% !important;
   /* bottom: 500px; 
      height: 50px;*/
    width: 80% !important;
  }

  .margem_left_ajustar {
    margin-left: 10px !important; 
  }

  .teste_css{
    margin-right: 9px !important;
  }
  
  .margem_left {
    margin-left: 90px !important;
    margin-right: -9px !important;
  }
  .tamanho_height{
    height: 60vh !important;
  }

  .botao_lista_incluir {          
    font: normal normal bold Effra !important;
    color: #0F074E !important;
    font-size: 12px;
    position: absolute;
    left: 75% !important; 
    top: 18% !important;  
    line-height: 10% !important;   
   /* bottom: 500px; 
      height: 50px;*/
    /* width: 217px !important; */
  }

  .botao_incluir {          
    font: normal normal bold Effra !important;
    color: white !important; 
    font-size: 12px !important;       
    font-weight: bold !important;
  }

  .MuiFab-secondary {
    color: white !important; 
    background-color: #FF840A !important;
  }

  .botoes_desabilitado {
    margin-top: 48px !important;
    width: 480px !important;
    /*line-height: 26px !important;    */    
    height: 64px !important;
    background: #C9C9C9 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 110px !important;
    position: absolute !important;    
    bottom: 0px !important;  
    margin-bottom: 1px !important;
  }
  
  .botoes_habilitados {
    margin-top: 28px !important; 
    width: 480px !important;  
    height: 64px !important;
    background: #FF840A 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 110px !important;
    position: absolute !important;    
    bottom: 0px !important;    
  }

  .botoes_desabilitado_modal {
    margin-top: 28px !important;
    width: 244px !important;
    /*line-height: 26px !important; */   
    height: 64px !important; 
    border: 2px solid #C9C9C9 !important; 
    background: #C9C9C9 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 250px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }

  .botoes_desabilitado_modal_cartao {
    margin-top: 28px !important;
    width: 244px !important;
    /*line-height: 26px !important; */   
    height: 64px !important; 
    border: 2px solid #C9C9C9 !important; 
    background: #C9C9C9 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 150px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }

  .botoes_habilitados_modal_cartao {
    margin-top: 28px !important;
    width: 244px !important;  
    height: 64px !important; 
    border: 2px solid #FF840A !important;
    background: #FF840A 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 150px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }


  .botoes_desabilitado_evento_modal {
    margin-top: 28px !important;
    width: 244px !important;
    /*line-height: 26px !important; */   
    height: 64px !important; 
    border: 2px solid #C9C9C9 !important; 
    background: #C9C9C9 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 140px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }
  
  .botoes_habilitados_modal {
    margin-top: 28px !important;
    width: 244px !important;  
    height: 64px !important; 
    border: 2px solid #FF840A !important;
    background: #FF840A 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 250px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }

  .botoes_habilitados_evento_modal {
    margin-top: 28px !important;
    width: 244px !important;  
    height: 64px !important; 
    border: 2px solid #FF840A !important;
    background: #FF840A 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 140px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }

  .botoes_desabilitado_modal_scroll {
    margin-top: 28px !important;
    width: 244px !important;
    /*line-height: 26px !important; */   
    height: 64px !important; 
    border: 2px solid #C9C9C9 !important; 
    background: #C9C9C9 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 250px !important;
    position: absolute !important;    
    margin-bottom: 0px !important;  
  }

  .botoes_habilitados_modal_scroll {
    margin-top: 28px !important;
    width: 244px !important;  
    height: 64px !important; 
    border: 2px solid #FF840A !important;
    background: #FF840A 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    margin-left: 250px !important;
    position: absolute !important;    
    margin-bottom: 0px !important;  
  }

  .botoes_delete_cancelar_modal {
    margin-top: 48px !important;
    width: 244px !important;
    /*line-height: 26px !important; */   
    height: 64px !important; 
    border: 1px solid #0F074E !important;  
    background: #FFFFFF 0% 0% no-repeat padding-box !important;    
    opacity: 1 !important;
    margin-left: 128px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }

  .botoes_delete_excluir_modal {
    margin-top: 48px !important;
    width: 244px !important;
    /*line-height: 26px !important; */   
    height: 64px !important; 
    /*  border: 2px solid #0F074E !important;  */
    background: #FF840A 0% 0% no-repeat padding-box !important;
    color: white !important;
    opacity: 1 !important;
    margin-left: 373px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }

  .botao_close_modal_empresa {
    left: 45%;
  }

  .botao_close_modal_operador {
    left: 30%;
  }

  .botao_close_modal_servico {
    left: 50%;
  }

  .botao_close_modal_tarifarios_esp {
    margin-left: 25% !important; 
  }

  .botao_close_modal_tarifarios_esp {
    margin-left: 25% !important; 
  }
  
  .botao_close_modal_tarifarios {
    left: 38%;
  }

  .botao_close_modal_editar_tarifarios {
    left: 50%;
  }

  .botao_close_modal_tipo_veiculo {    
    left: 45%;
  }

  .botao_close_incluir_evento_modal {
    left: 50%;
  }

  .botao_close_modal_cartao {
    left: 35%;
  }

  .botao_close_modal_deletar {  
    left: 70%;
  }

  .botao_close_modal_motorista {
    left: 35%;
  }

  .botao_close_modal_foto_doc {
    left: 100px;
  }

  .botao_close_modal_veiculo {
    left: 40%;
  }

  .teste_css {
    background-color: red;
  }

  .botao_close_modal {
    left: 50%;
  }

  .resize_table {
    position: fixed !important;
  }

  .tabela_material_layout{      
   /* min-width: 95vw !important; */    
    min-width: 95vw !important;      
    max-width: 95vw !important;     
    max-height: 90% !important;  
   /* position: static !important;  */
  }     
  .moldura_modal_delecao {
    margin-top: 48px !important;
    width: 450px !important;
    margin-left: 150px !important;
  }

  .titulo_moldura_modal_delecao {
    font: normal normal Effra !important;
    font-size: 22px !important;
    font-weight: bold !important;
    letter-spacing: 0px !important;
    width: 500px !important;

  }

  .titulo_moldura_modal_delecao_2 {
    font: normal normal Effra !important;
    font-size: 12px !important;   
    letter-spacing: 0px !important;
    width: 500px !important;
  }

  .tamanho_botao {
    height: 55px !important;
    width: 270px !important;
  }

  .MuiSwitch-colorPrimary.Mui-checked {
   /*  color: #6DD300 !important; 
    background-color: white !important;
    */
  }
  .retorno {
    font: normal normal Effra !important;
    font-size: 16px !important;
    color: red !important;
    margin-left: 158px !important;
  }

  .botoes_desabilitado_excluir {
    margin-top: 48px !important;
    width: 250px !important;
    /*line-height: 26px !important;   
    height: 80px;*/
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
    border: 2px solid var(--unnamed-color-0f074e) !important;
    opacity: 1 !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 18px/22px var(--unnamed-font-family-effra) !important;
    letter-spacing: var(--unnamed-character-spacing-0) !important;
    color: var(--unnamed-color-0f0b2f) !important;
    margin-left: 108px !important;
    position: absolute !important;    
    bottom: 0px !important;  
  }   
  
  .botoes_habilitados_excluir {
    margin-top: 48px !important;
    width: 250px !important;  
    /* height: 80px !important; */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
    border: 2px solid var(--unnamed-color-0f074e) !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 18px/22px var(--unnamed-font-family-effra) !important; 
    letter-spacing: var(--unnamed-character-spacing-0) !important;
    color: var(--unnamed-color-0f0b2f) !important;
    opacity: 1 !important;
    margin-left: 108px !important;
    position: absolute;    
    bottom: 0px;    
  }

  .posicao_fonte{
    width: 66px;
    height: 22px;
    text-align: center;
  }

  .grid_espaco {
    bottom: 20px !important;    
    width: 100%;
    height: 50px;
    overflow-x:auto;
  }
  
  .table_novo {
    min-width: 350px;
    max-height: 450px;   
  }
 
  .testeauto{
    overflow-x:auto;
  } 

  .incluir_foto {
    margin-top: 98px !important;
    width: 204px !important;
    position: fixed !important;
    text-decoration: underline !important;
    font-size: 14px !important;
    margin-left: -56px !important;
    letter-spacing: 0px;
    color: #0F93D9 !important;
  }

  .incluir_foto_2 {
    margin-top: 98px !important;
    width: 204px !important;
    position: fixed !important;
    text-decoration: underline !important;
    font-size: 14px !important;
    margin-left: -56px !important;
    letter-spacing: 0px;
    color: #0F93D9 !important;
  }

  .incluir_foto_cnh_alteracao{
    margin-top: 71px !important;
    width: 98px !important;
    text-decoration: underline !important;
    font-size: 14px !important;
    margin-left: 335px !important;
    letter-spacing: 0px;
    color: #0F93D9 !important;
  }

  .incluir_foto_cnh{
    margin-top: 71px !important;
    width: 98px !important;
    position: fixed !important;
    text-decoration: underline !important;
    font-size: 14px !important;
    margin-left: 97px !important;
    letter-spacing: 0px;
    color: #0F93D9 !important;
  }

  .incluir_foto_crvl{
    margin-top: 71px !important;
    width: 98px !important;
    position: fixed !important;
    text-decoration: underline !important;
    font-size: 14px !important;
    margin-left: 97px !important;
    letter-spacing: 0px;
    color: #0F93D9 !important;
  }
  
  .incluirarquivo{ 
    margin-top: 98px !important;
    width: 204px !important;
    position: fixed !important;
    text-decoration: underline !important;
    font-size: 14px !important;
    margin-left: 97px !important; 
    letter-spacing: 0px;
    color: #0F93D9 !important;
  }

  .acerto_navegacao{
    margin-top:  9%!important;
  }
  
  .incluir_titulo{
    margin-top: 76px !important;
  }
  
  .barra_incluir {
    border-bottom: 1px solid #dee2e6;    
    /* height: 174px !important; */
  }

  .barra_editar {
    border-bottom: 1px solid #dee2e6;    
  }

  /*
  .MuiSwitch-colorPrimary {
    font: normal normal bold 14px Effra !important;
    letter-spacing: 0px !important;
    color: #6DD300 !important;
    background-color: #6DD300;
  }
*/
/*  padding-right: 15px;    
    margin-right: auto;
    margin-left: auto; 
    max-width: 85%;        
    position: static;  
    */

.container_modal_list {
 /* width: 100%; */
  padding-right: 0px !important;      
  margin-left: 80px !important;      
}

.linha {
  margin-left: 10px;  
}

.centraliza_label{
  font: Regular 12px Effra !important;
  margin-top: 0px !important;  
}

.mensagem_aguarde {
  text-align: center;
  margin-left: 250px;     
}

.editar_titulo {
  margin-top: 15px;
  font: normal normal normal 22px Effra !important;
  height: 70px !important;
  border-bottom: 1px solid #dee2e6 !important;     
  padding-left: 20px !important; 
  text-align: left !important;  
  letter-spacing: 0px !important;
  color: #0F074E !important;  
  opacity: 1 !important;  
}

.editar_titulo_inclusao {
  margin-top: 15px;
  font: normal normal normal 22px Effra !important;
  height: 71px !important;
  border-bottom: 1px solid #dee2e6 !important;     
  padding-left: 33px !important; 
  text-align: left !important;  
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;  
}


.cep_editar_modal {  
  text-align: left !important;
  font: normal normal medium 14px Effra !important;
  letter-spacing: 0px !important;
  color: #464646 !important;
  opacity: 1 !important;  
}

.card_endereco_modal{  
  text-align: left !important;   
  font: normal normal medium 12px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  padding: 0px !important;
  margin-left: 10px !important;
}


.espacamento_caixa_modal {
  margin-top: 15px !important;
  margin-left: 100px !important;  
}

.espacamento_caixa_modal_cartao {
  font: normal normal medium 14px Effra !important;
  margin-top: 15px !important;
  margin-left: 120px !important;  
}

.modal_borda {
 /* font: Regular Effra !important;
  padding: 0px !important;  */
}

.buscar_status_modal {  
  width: 230px !important;   
  text-align: left !important;
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
  padding-left: 20px !important;
}

.buscar_label_status_modal { 
  padding-left: 25px !important;   
  text-align: left !important;
  font: normal normal medium Effra !important;
  font-size: 12px !important;
  letter-spacing: 0px !important;
  color: #868686 !important;
  opacity: 1 !important;   
}  

.data_text_modal {
  text-align: left !important;
  font: normal normal medium 14px Effra !important;
  letter-spacing: 0px !important;
  color: #464646 !important;
  opacity: 1 !important;  
  padding-left: 20px !important;   
}


.label_modal {  
  font: normal normal medium Effra !important;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  color: #868686 !important;
  opacity: 1 !important;     
  padding-left: 20px !important;
  width: 250px !important;
}

.select_status_modal {  
  width: 220px !important;   
  font: normal normal medium Effra !important;
  font-size: 12px !important;
  letter-spacing: 0px !important;
  color: #868686 !important;
  opacity: 1 !important;     
 padding-left: 25px !important;
}

.posicao_caixa_texto{
  font: normal normal medium 10px Effra !important;
  padding-left: 17px !important;
  color: #464646 !important;
}

.posicao_caixa_status{
  font: normal normal medium 10px Effra !important;
  padding-left: 11px !important;
  color: #464646 !important;
}

.label_editar_modal {
  font: normal normal medium 10px Effra !important;
  letter-spacing: 0px !important;
  color: #868686 !important;
  opacity: 1 !important;   
  padding: 0px !important;
}

.cpf_label_modal {
  width: 240px !important;     
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
  padding: 0px !important;
}

.sub_titulo_modal_editor {
  text-align: left !important;
  font: normal normal bold 16px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  border-bottom: 1px solid #dee2e6 !important;  
  padding-left: 20px !important;
  margin-bottom: 0px !important;
}

.sub_titulo_motorista_editor {
  text-align: left !important;
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  border-bottom: 1px solid #dee2e6 !important;  
  padding-left: 20px !important;
  margin-bottom: 0px !important;
}



.lista_padroes_layout {
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
}

.titulo_modal_editar {
  text-align: left !important;
  font: normal normal normal 10px Effra !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
  padding-left: 20px !important;
  margin-bottom: 5px !important;
}

.titulo_endereceo_alterar {
  text-align: left !important;
  font: normal normal normal 14px Effra !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1 !important;
  padding-left: 0px !important;
  margin-bottom: 5px !important;
}

.endereco_empresa {
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
}

.descricao_endereco_endereço {
  text-align: left !important;
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  padding-left: 0px !important;
  margin-bottom: 10px !important;
}

.title_modal_editar {
  margin-top: 6px !important;
}

.descricao_modal_editar {
  text-align: left !important;
  font: normal normal Effra !important;
  font-size: 12px !important;
  font-weight: bold !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  padding-left: 20px !important;
}

.descricao_modal_endereço {
  text-align: left !important;
  font: normal normal bold 12px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
  padding-left: 20px !important;
}

.text_modal {
  text-align: left;
  font: normal normal medium 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;   
  padding-left: 40px !important;
}

.cpf_incluir_empresa{
  width: 480px !important;     
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}


.nome_incluir_text{
  width: 480px !important;     
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}


.label_text { 
  font-weight: medium !important;
  letter-spacing: 0px !important;
  color: #4F4F4F !important;
  opacity: 1 !important;   
  font-size: 12px !important;  
}


.label_cliente_individual {
  font: normal normal medium 14px Effra !important;
  letter-spacing: 0px !important;
  color: #4F4F4F !important;
  opacity: 1 !important;   
}


.data_cliente_individual {
  width: 480px !important;    
  font-size: 14px !important;
  font-family: Effra !important;
  font-weight: normal !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}

.data_operador {
  width: 450px !important;    
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}

.input_text_empresa {  
  width: 480px !important;  
  font: normal normal bold 14px Effra !important;
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important; 
}

/* AVATAR */
.avatar_tamanho {  
  width: 144px !important; 
  height: 144px !important;
  margin-left: 20px;
}

/*
.MuiAvatar-img {
  color: transparent;
  width: 144px !important; 
  height: 144px !important;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}
*/
.menu_adm_auxiliar {
  margin-top: 50px !important; 
  margin-left: 50px !important;  
 }

.menu_adm {
 margin-top: 50px !important; 
 margin-left: 150px !important;  
}
.centraliza_img{
  text-align: center !important;
}

.titulo_bemvindo{
  margin-top: 20px !important;
  text-align: left !important;
  font-family: Effra !important;  
  font-weight: normal !important;
  font-size: 25px !important;  
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
}

.titulo_empresa{
  text-align: left !important;
  font-family: Effra !important;    
  font-weight: normal !important;
  font-size: 16px !important;  
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
}

.sub_titulo_empresa{
  margin-top: 6px !important;
  text-align: left !important;
  font-family: Effra !important;    
  font-weight: normal !important;
  font-size: 18px !important;  
  letter-spacing: 0px !important;
  color: #0F074E !important;
  opacity: 1 !important;
}

.ajustar_top{ 
  margin-top: 18px !important;
}

.div1 {
  margin-top: 6px !important;
  display: inline;
}

.scroll::-webkit-scrollbar {
  width: 50px;
  }
  

